<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width">
    <title>Project</title>

    <style>

        .container {
        display: flex;
        justify-content: center;
        }

        body {
            font-family: Courier, monospace;
            text-align: center;
        }

        .cool-box {
            width: 200px; /* Set your desired width */
            height: 350px; /* Set your desired height */
            margin: 10px; /* Add margin for spacing between boxes */
            border: 1px solid #aba0a0;
            background-color: #e3e9ec; /* Box background color */
            color: #000000; /* Text color */
            padding: 20px; /* Padding inside the box */
            border-radius: 10px; /* Rounded corners */
            text-align: center;
}
        </style>
</head>
<body>

    <h1>
        ADMIN VIEW
    </h1>
    <nav>
        <% if (user) { %>
            <p> Logged in as <%= user %>  <a href="/logout">logout</a></p>
        <% } else { %>
            <a href="/login.html">Login</a>
        <% } %>
    </nav>
        <button type="submit">Log Data</button>
    </form>
    <div>
        <h2>Tickets</h2>
        <% if (tickets) { %>
            <ul>
            <div class = container>
                <% tickets.forEach(ticket => { %>
                        <div class="cool-box">
                            <p><%= ticket.email %></p>
                            <hr>
                            <p><%= ticket.title %></p>
                            <hr>
                            <p><%= ticket.body %></p>
                            <% if (ticket.image) { %>
                            <img src="data:image/jpeg;base64, <%= Buffer.from(ticket.image).toString('base64') %>" alt="Description of the image" height = "200" >
                            <% } %>
                            <% if (ticket.progress !== undefined ) { %>
                                <% if (ticket.progress == 0) { %>
                                    <p>submitted</p>
                                <% } %>
                                <% if (ticket.progress == 1) { %>
                                    <!-- make this show the date that it's scheduled for once scheduling system complete-->
                                    <p>scheduled</p>
                                <% } %>
                                <% if (ticket.progress == 2) { %>
                                    <p>completed</p>
                                <% } %>
                            <% } %>
                            <form action="/submit_status" method="post">
                                <label for="status">Choose a status:</label>
                                <select name="progress" id="progress">
                                <option value="0">submitted</option>
                                <option value="1">In progress</option>
                                <option value="2">finished</option>
                                </select>
                                <input type="hidden" name="selectedId" value="<%= ticket.id %>">
                                <br>
                                <button type="submit">Submit</button>
                                <button onclick="deleteEntry('<%= ticket.id %>')">close ticket</button>
                            </form>
                        </div>
                <% }); %>
            </div>
            </ul>
        <% } else { %>
            <p>No tickets</p>
        <% } %>
      </div>
      <script>
        function deleteEntry(entryId) 
        {
            fetch('/delete',
            {
                method: 'POST',
                headers: 
                {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `entryId=${entryId}`,
            })
            .then(response => 
            {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(message => 
            {
                alert(message);
            })
            .catch(error => 
            {
                console.error('There was a problem with the fetch operation:', error);
            }
            );
            location.reload();
        }
    </script>
</body>
</html>