<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width">
    <title>Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <style>
    .user-icon {
        right: 20px; /* Distance from the right */
        z-index: 999; /* Ensure it's above other content */
        display: block; /* Make the anchor tag a block element to set width and height */
        width: 50px; /* Set width of the clickable image */
        height: 50px; /* Set height of the clickable image */
    }

    .user-icon img {
        width: 100%; /* Make the image fill the anchor tag */
        height: 100%; /* Make the image fill the anchor tag */
        border-radius: 50%; /* Make the image round */
    }

        body {
            background-color: #f8f6f6;
            font-family: Courier, monospace;
            text-align: center;
            background-size: cover;
        }


        .user-icon {
        right: 20px; /* Distance from the right */
        z-index: 999; /* Ensure it's above other content */
        display: block; /* Make the anchor tag a block element to set width and height */
        width: 50px; /* Set width of the clickable image */
        height: 50px; /* Set height of the clickable image */
    }

    .user-icon img {
        width: 100%; /* Make the image fill the anchor tag */
        height: 100%; /* Make the image fill the anchor tag */
        border-radius: 50%; /* Make the image round */
    }
        .container {
        display: flex;
        justify-content: center;
        }

        body {
            font-family: Courier, monospace;
            text-align: center;
        }

        .cool-box {
            width: 200px; /* Set your desired width */
            height: 350px; /* Set your desired height */
            margin: 10px; /* Add margin for spacing between boxes */
            border: 1px solid #aba0a0;
            background-color: #e3e9ec; /* Box background color */
            color: #000000; /* Text color */
            padding: 20px; /* Padding inside the box */
            border-radius: 10px; /* Rounded corners */
            text-align: center;
}
        </style>
</head>
<body>
    <a href="/profile" class="user-icon">
        <img src="data:image/jpeg;base64, <%= Buffer.from(profile.image).toString('base64') %>" alt="User Icon">
    </a>
    <h1>
        P책g책ande Felanm채lan
    </h1>
    <a href = "/home.html" >Home</a>
    <div>
        <% if (tickets) { %>
            <ul>
            <div class = container>
                <% tickets.forEach(ticket => { %>
                        <div class="cool-box">
                            <p><%= ticket.title %></p>
                            <hr>
                            <p><%= ticket.body %></p>
                            <% if (ticket.image) { %>
                            <img src="data:image/jpeg;base64, <%= Buffer.from(ticket.image).toString('base64') %>" alt="Description of the image" height = "200" >
                            <% } %>
                            <% if (ticket.progress !== undefined ) { %>
                                <% if (ticket.progress == 0) { %>
                                    <p>submitted</p>
                                <% } %>
                                <% if (ticket.progress == 1) { %>
                                    <!-- make this show the date that it's scheduled for once scheduling system complete-->
                                    <p>scheduled</p>
                                <% } %>
                                <% if (ticket.progress == 2) { %>
                                    <p>completed</p>
                                <% } %>
                                    <br>
                                    <button onclick="deleteEntry('<%= ticket.id %>')">close ticket</button>
                            <% } %>
                        </div>
                <% }); %>
            </div>
            </ul>
        <% } else { %>
            <p>Inga Felanm채lan</p>
        <% } %>
      </div>
      <script>
        function deleteEntry(entryId) 
        {
            fetch('/delete',
            {
                method: 'POST',
                headers: 
                {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `entryId=${entryId}`,
            })
            .then(response => 
            {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(message => 
            {
                alert(message);
            })
            .catch(error => 
            {
                console.error('There was a problem with the fetch operation:', error);
            }
            );
            location.reload();
        }
    </script>
</body>
</html>